# Database
ConnectionStrings__DefaultConnection=Server=

# JWT
JwtSettings__Key=

# Email (Gmail App Password)
Email__Username=
Email__Password=
Email__From=

# Cloudinary
Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=

# Google OAuth
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=

# Environment
ASPNETCORE_ENVIRONMENT=Development
